body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px 30px;
    border-bottom: 2px solid #ddd;
}
.logo img {
    height: 40px;
}
nav {
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.login a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.reset-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}
h2 {
    font-size: 24px;
    color: #333;
}
p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
button {
    width: 422px;
    background-color: #2a6444;
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #035a40;
}
